.content {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
  width: 45px;
  height: 45px;
  background-color: #f7f8fa;
  border-radius: 100%;
}

.content .icon {
  height: 30px;
  align-self: center;
  color: #464646;
}

.sidebar-item a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.active .content {
  background-color: #e8edff;
}

.active .icon {
  color: #6c87e9;
}
