.info-card {
  display: flex;
  gap: 14px;
  padding: 23px 17px;
  width: 268px;
  height: 105px;
  background-color: #ffffff;
  border: 1px solid #f0f0f0;
  border-radius: 15px;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 59px;
  height: 59px;
  border-radius: 100%;
}

.image img {
  width: 25px;
  object-fit: cover;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
}

.content p {
  color: #484848;
  font-size: 28px;
  font-weight: 600;
}
