.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  width: 30%;
  padding: 10px 20px;
  background-color: #fefefe;
  border-radius: 15px;
  border: 1px solid #f0f0f0;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4px;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  background-color: #ffffff;
  border: none;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.checkboxes {
  display: flex;
  justify-content: center;
}

.checkboxes input[type='radio'] {
  display: none;
}

.checkboxes input[type='radio']:checked + .checkbox {
  border: none;
  color: #ffffff;
}

.checkboxes input[type='radio']:checked + .expense {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  background-color: #f38c8c;
}

.checkboxes input[type='radio']:checked + .income {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #71eb9a;
}

.checkbox {
  width: 120px;
  height: 40px;
  text-align: center;
  align-content: center;
  background-color: #ffffff;
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  color: #464646;

  transition: all 600ms ease;
}

.checkbox:active {
  transform: translateY(2px);
}

input,
.customSelect {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #f0f0f0;
  outline: none;

  font-weight: 300;
  font-size: 16px;
  color: #464646;

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.customSelect {
  background-image: url('../../assets/icons/arrow.svg');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 20px;
}

.box {
  display: flex;
  gap: 4px;
}

.submit {
  align-self: flex-end;
  padding: 8px 28px;
  font-weight: 300;
  font-size: 16px;
  background-color: #6bbef2;
  border-radius: 15px;
  border: 1px solid #f0f0f0;
  font-weight: 600;
  font-size: 16px;
  color: #ffffff;

  cursor: pointer;
}
